body {
  background-color: #8fbafb;
  font-family: "roboto", sans-serif;
}

main {
  padding: 10px 0 5px;
}
.Weather-App {
  display: block;
  max-width: 500px;
  background-color: #ffc671;
  margin: 20px auto;
  padding: 30px 20px;
  border: 1px solid #ffc671 0.8;
  border-radius: 25px;
  box-shadow: 30 50 50 0.9;
}